@import "variable";

.tweetbox {
	padding-bottom: 10px;
	border-bottom: 8px solid $twitter_background;
	padding-right: 10px;

	form {
		display: flex;
		flex-direction: column;
	}
}

 

.tweetbox__input {
	padding: 20px;
	display: flex;

	input {
	  flex: 1;
	  margin-left: 20px;
	  font-size: 20px;
	  border: none;
	  outline: 0;
	}

	img {
		cursor:pointer;
		 

	}
}

.tweetbox__imageInput {
	border: none;
	padding: 10px;
	outline: 0;
}

 
.tweetbox__tweetButton {
	background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}