@import "variable";

.widgets {
  flex: 0.3; 
}

.widgets__input{
  @extend .displayAlign;
  background-color: white; 
  padding: 10px 20px;
  background-color: $twitter_hover_color;
  border-radius: 999px; 

  input{
    outline: 0;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
  } 

  .MuiSvgIcon-root{
   color: gray;
  } 
}

.widgets__input--wrapper{
  padding: 5px 40px 5px 30px;
  background-color: white; 
  @extend .sticky; 
} 

.widgets__trends {
  background-color: $twitter_background;
  margin-top: 20px;
  border-radius: 20px; 
  margin: 20px 40px 5px 30px;
  
  h2 {
    padding: 10px 20px;
    font-size: 20px;
  }
} 