@import "variable";

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $twitter_hover_color; 
  padding-bottom: 10px;

  &:hover {
    @include hover();
  }
}

.post__body {
  flex: 1;
  padding: 10px;

  img {
    border-radius: 20px; 
    width: 100%; 
  }
} 

.post__footer {
  display: flex; 
  margin-top: 10px; 
  justify-content: space-around;
  color:gray;

  div {
    @extend .displayAlign;
    flex:1; 

    div {
      flex:0;
    }
  }

  .MuiSvgIcon-root { 
    padding:10px;
    border-radius:$round_border;
  }  

  .comment, .share{ 
    div{ 
      &:hover {
        color:$twitter_color; 

        .MuiSvgIcon-root {
           background-color:lightblue;
           padding:10px;
           transition:background-color 500ms ease;
        }  
      } 
    }
  }

  .rt{
     div{ 
        &:hover {
          color:green; 

          .MuiSvgIcon-root {
             background-color:lightgreen;
             padding:10px;
             transition:background-color 500ms ease;
          }  
        } 
      }
  }

  .fav{
    div{ 
        &:hover {
          color:pink; 

          .MuiSvgIcon-root {
             background-color:$fav_color;
             padding:10px;
             transition:background-color 500ms ease;
          }  
        } 
      }
  } 

}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: $twitter_color;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
} 