@import "variable";

.trend {
	display: flex; 
	padding:10px 10px 10px 20px;
	justify-content: space-between;

	.trend__left{
		display: flex; 
		flex-direction: column; 

		h2 {
		    padding: 0; 
		}
	}

	.MuiSvgIcon-root {
		padding:5px; 
		height:20px;
		width:20px;
		color:gray;

		&:hover {
			background-color:lightblue;
			border-radius:$round_border;
		}  
	}

	&:hover {
		@include hover();
	}

	span {
		font-size: 14px;
		color: gray;
	}

	h2 {
		font-size: 16px; 
		font-weight: 600;
		padding:0;
	}
}
 
 