.trend {
	display: flex;
	flex-direction: column;
	padding:10px 20px
}

.trend:hover {
	background-color: var(--twitter-hover-color);
	cursor: pointer;
	transition: background-color 100ms ease;
}

.trend > span {
	font-size: 14px;
	color: gray;
}

.trend > h2 {
	font-size: 16px; 
	font-weight: 600;
}