.widgets {
  flex: 0.3; 
}

.widgets__input{
  display: flex;
  align-items: center; 
  background-color: white; 
  padding: 10px 20px;
  background-color: var(--twitter-hover-color);
  border-radius: 999px; 
}

.widgets__input--wrapper{
  padding: 5px 40px 5px 30px;
  background-color: white; 
  position: sticky;
  top: 0;   
}

.widgets__input > input{
  outline: 0;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
} 

.widgets__input > .MuiSvgIcon-root{
 color: gray;
} 

.widgets__trends {
  background-color: var(--twitter-background);
  margin-top: 20px;
  border-radius: 20px; 
  margin: 20px 40px 5px 30px;
}

.widgets__trends > h2 {
  padding: 10px 20px;
  font-size: 20px;
}