body{
	--twitter-color: rgb(29, 155, 240);
	--twitter-background:  rgb(247, 249, 249);
	--twitter-hover-color: rgb(239, 243, 244);
	
}

.app{
	display: flex; 
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px; 
}